.grey-white-bg{
	background: #fafafa;
}
.call-icon{
	height: 52px;
	width: 52px;
	border-radius: 50% !important;
}
.green-gradient{
	background-image: linear-gradient(#79ac7b, #0b8910);
}

.red-gradient{
	background-image: linear-gradient(#f46c6c, #e01616);
}

.calltabsize{
	height: 625px;
}
.shadow-left{
	box-shadow: -6px 0px 7px -2px #cccccc;
}
.custom-call-dateselect{
	height: 28px;
    font-size:14px;
    border: none;
    color: #999999;
}
.custom-call-calendar{
	height: 30px;
	margin-right: .5rem!important;
	border: 1px solid #cccccc;
    border-radius: 0;	
}
.iconsize{
	height: 16px;
	width: 16px;
}
.h-500{
	overflow-y:auto; 
	height: 500px;
}
.bottom-dashed-separation{
	border-bottom: 1px dashed #cccccc;
}