@media (min-width: 600px) {
	.lostleadmodalsize{
		width:650px;
	}
	.addleadmodalsize{
		width:1062px;
		height:600px;
	}
	.upload-lead-box{
		
	  	height: 258.6px;
	}
}

.leadpreview.table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.leadpreview.table thead {
    flex: 0 0 auto;
    color:#222222;
    font-size: 14px;
    
}

.leadpreview.table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height:340px;
}

.leadpreview.table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}


.border-right-separation{
	border-right: 1px dotted #cccccc;
}
.grey-white-bg{
	background: #fafafa;
}
.btn-style{
	height:30px !important;
	background-color:#ed4d67;
	color: #fff;
	font-weight: bold;
	border-radius: 0;
	min-width:126px;
	
}
.btn-style:hover{
	color: #ffffff !important;	
}
.custom-taskselect{
	width: 185px;
 	height: 30px;
}

.custom-taskborder{
	border: 1px solid #cccccc;
	border-radius: 0;
}

@media ( min-width : 992px) {
	.search-style{
		height:30px !important;
		width: 250px !important;
		border-radius: 0 !important;
}
}

@media ( max-width : 600px) {
	.search-style{
		height:30px !important;
		width: 120px;
		border-radius: 0;
}


}

.bottom-separation-solid{
	border-bottom: 2px solid #ebebeb;
}

.blue-black{
	color: #43425d;
}

.shadow-bottom{
	box-shadow: 0 4px 2px -2px #cccccc;
}


.soft-blue{
	color: #6297f6 !important;
}

.imgsize-40{
	height:40px;
	width: 40px;
}
.very-light-pink-grey-bg{
	background-color: #f9f9f9 !important;
}

.leadmodal>.nav-pills .nav-link.active{
	color:#444444;
	font-weight:bold;
	background: #fff;
	font-size: 18px;
}
.leadmodal>.nav-pills .nav-link.active .circle{
	background:#eb384f !important;
	color: #ffffff !important;;
	
}

.leadmodal>.nav-pills .nav-link{
	color: #999999;
	font-weight: normal;
	background: #fff;
	font-size: 16px;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    color: #999999;
    line-height: 30px;
    text-align: center;
    background: #eeeeee;
}
.doc-image-size{
	height: 115px;
	width: 107px;
}