.login_button{
background:#ed4d67;
height:40px;
color:white;
}

.saleskenlogo{
	height:54px; width:184px; 
	
}

.border_top{
	border-top:1px solid #eeeeee;
}

.shadow_right{
	box-shadow: 49px 0px 25px -35px #eeeeee;
	
}

.tick_icon{
	 width: 35px; height: 35px;
	
}
.input_wh:focus{
	color:#95989a !important;
}
.input_wh{
	 width: 287.5px; height: 50px;
	
}

.label_color{
	
	color:#262626!important;
}