.border-right-separation{
	border-right: 1px dotted #cccccc;
}
.grey-white-bg{
	background: #fafafa;
}
.btn-style{
	height:30px !important;
	background-color:#ed4d67;
	color: #fff;
	font-weight: bold;
	border-radius: 0;
	min-width:126px;
	
}
.btn-style:hover{
	color: #ffffff !important;	
}
.custom-taskselect{
	width: 185px;
 	height: 30px;
}

.custom-taskborder{
	border: 1px solid #cccccc;
	border-radius: 0;
}

@media ( min-width : 992px) {
	.search-style{
		height:30px !important;
		width: 250px !important;
		border-radius: 0 !important;
}
	
}

@media ( max-width : 600px) {
	.search-style{
		height:30px !important;
		width: 120px;
		border-radius: 0;
}
	
}

.bottom-separation-solid{
	border-bottom: 2px solid #ebebeb;
}

.custom-dateselect{
	height: 28px;
	width: 185px
}

.very-light-pink-grey-bg{
	background-color: #f9f9f9 !important;
}



.shadow-bottom{
	box-shadow:0 4px 13px -9px #cccccc;

}





    