@import
	url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: Roboto, 'Lato' !important;
}

.menu_icon {
	position: relative;
	top: -2px;
	width: 18px;
	height: 15.5px;
}

.salesken_container {
	padding-top: 5.5rem;
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.border-left-0{
border-left: 0 !important;	
border-right: 0 !important;	
border-top: 0 !important;	


}
.ml_10{
	margin-left:-11px;
}
.imgsize{
	height:30px;
	width:30px;
}
.checksize{
		height:18px;
	width:18px;
}
.carousel-indicators > li {
  border-radius: 50%;
  height:10px;
	width:10px;
	    padding:2px;
    background-color: #ffffff;
        background-clip:content-box;
    border:2px solid #cccccc;
        margin-top: 8px;
    
}
.h-29{
	height:29px;
	width:29px;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: ed4d67;
    background-clip:content-box;
    border:2px solid #ed4d67;
    margin-top: 8px;
}
.separation-bottom{
	border-bottom: 1px solid #cccccc;	
}
body {
	background: #eeeeee !important;
}
/* start of navbar css*/

.taskitem {
	border-bottom: 1px dotted gray;
} 
.appicon {
	height: 30px;
	width: 30px;
}
.salesken >li.active{
	font-weight: bold;
}
.saleken.nav-tabs>li>a{ 
	color: #999999;
}
.saleken.nav-tabs>li>.active{
			border-bottom: 4px solid #ed4d67;
			background-color: transparent !important;
			font-weight: bold;
}

.saleken.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
}


@media ( min-width : 992px) {
	.salesken.navbar-light .navbar-nav .active a::after {
		border-bottom: 4px solid #ed4d67;
		bottom: -10px;
		content: " ";
		left: 0;
		position: absolute;
		right: 0;
	}
	.salesken.navbar-nav>li {
		position: relative;
	}
	.salesken>.navbar-brand {
		border-right: 2px solid #cccccc;
		margin-left: .5em;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem !important;
    padding-left: .8rem !important;
}

.salesken.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
}
}
/*End of navbar css*/
.datepicker, .table-condensed {
	background-color: #f9f9f9;
}

.datepicker {
	font-size: 12px;
} /* or whatever other font size you want */
.table-condensed>thead>tr>th.dow {
	color: #999999 !important;
	font-weight: bold;
		font-size: 12px;
	
}
.table-condensed tbody tr td {
  font-size: 12px;
}
.activeClass {
	background: #dddddd;
	font-weight: 600;
}

.table-condensed {
	border-collapse: separate;
	border-spacing: 10px 8px;
}

/* Start of font sizes */
.f-12 {
	font-size: 0.75rem !important;
}

.f-13 {
	font-size: 0.8125rem !important;
}

.f-14 {
	font-size: 0.875rem !important;
}

.f-15 {
	font-size: 0.9375rem !important;
}

.f-16 {
	font-size: 1rem !important;
}

.f-17 {
	font-size: 1.0625rem !important;
}

.f-18 {
	font-size: 1.125rem !important;
}

.f-19 {
	font-size: 1.1875rem !important;
}

.f-20 {
	font-size: 1.25rem !important;
}

.f-21 {
	font-size: 1.3125rem !important;
}

.f-22 {
	font-size: 1.375rem !important;
}

.f-23 {
	font-size: 1.4375rem !important;
}

.f-24 {
	font-size: 1.5rem !important;
}

.f-30 {
	font-size: 1.875rem !important;
}

/* End of Font sizes */

/*
Modifying the scroll bar across the whole application
*/
/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	width: 5px;
	height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #999999 !important;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: #d1d1d1 !important;
	border: 1px solid #ebebeb !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

.theme_color{
	color:#ed4d67 !important;
}

.brownish-grey{
color: #666666 !important;
}
.brown-grey{
color:	#999999 !important;
}
