*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
	

  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
  }

  /* start of Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
 .table-condensed tbody tr td{
 	font-size: 0.75rem !important;
 
 }
.f-12 {
	font-size: 0.625rem !important;
}

.f-13 {
	font-size: 0.6875rem !important;
}

.f-14 {
	font-size: 0.75rem !important;
}

.f-15 {
	font-size:  0.8125rem !important;
}

.f-16 {
	font-size: 0.875rem !important;
}

.f-17 {
	font-size: 0.9375rem !important;
}

.f-18 {
	font-size: 1rem  !important;
}

.f-19 {
	font-size:  1.0625rem !important;
}

.f-20 {
	font-size: 1.125rem!important;
}

.f-21 {
	font-size:  1.1875rem !important;
}

.f-22 {
	font-size: 1.25rem !important;
}

.f-23 {
	font-size: 1.3125rem !important;
}

.f-24 {
	font-size: 1.375rem !important;
}

.f-30 {
	font-size: 1.75rem !important;
}

.f-38 {
	font-size: 2.25rem !important;
}

.f-42 {
	font-size: 2.5rem!important;
}

.f-45 {
	font-size: 2.6875rem !important;
}


    
    }

   /* end of Large devices (desktops, 992px and up) */
   
   
   
    /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1367px) {  

.f-12 {
	font-size: 0.75rem !important;
}

.f-13 {
	font-size: 0.8125rem !important;
}

.f-14 {
	font-size: 0.875rem !important;
}

.f-15 {
	font-size: 0.9375rem !important;
}

.f-16 {
	font-size: 1rem !important;
}

.f-17 {
	font-size: 1.0625rem !important;
}

.f-18 {
	font-size: 1.125rem !important;
}

.f-19 {
	font-size: 1.1875rem !important;
}

.f-20 {
	font-size: 1.25rem !important;
}

.f-21 {
	font-size: 1.3125rem !important;
}

.f-22 {
	font-size: 1.375rem !important;
}

.f-23 {
	font-size: 1.4375rem !important;
}

.f-24 {
	font-size: 1.5rem !important;
}

.f-30 {
	font-size: 1.875rem !important;
}

.f-38 {
	font-size: 2.375rem !important;
}

.f-42 {
	font-size: 2.625rem !important;
}

.f-45 {
	font-size: 2.8125rem !important;
}
	
}

 