@import
	url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: Roboto !important;
}

.menu_icon {
	position: relative;
	top: -2px;
	width: 18px;
	height: 15.5px;
}

.salesken_container {
	padding-top: 5.5rem;
	padding-left: 60px !important;
	padding-right: 60px !important;
}
.border-left-0{
border-left: 0 !important;	
border-right: 0 !important;	
border-top: 0 !important;	


}

.fw-50{
  font-weight: 500 !important;	
}


body {
	background: #eeeeee !important;
}
/* start of navbar css*/

.taskitem {
	border-bottom: 1px dotted gray;
} 
.appicon {
	height: 30px;
	width: 30px;
}
.salesken >li.active{
	font-weight: bold;
}
.saleken.nav-tabs>li>a{ 
	color: #999999;
}
.saleken.nav-tabs>li>.active{
			border-bottom: 4px solid #ed4d67;
			background-color: transparent !important;
			font-weight: bold;
}

.saleken.nav-tabs>li>.nav-link{
	padding: 0px !important;
	padding-bottom:5px !important;
	margin-right:30px !important;
	
}

.saleken.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
}


@media ( min-width : 992px) {
	.salesken.navbar-light .navbar-nav .active a::after {
		border-bottom: 4px solid #ed4d67;
		bottom: -10px;
		content: " ";
		left: 0;
		position: absolute;
		right: 0;
	}
	.salesken.navbar-nav>li {
		position: relative;
	}
	.salesken>.navbar-brand {
		border-right: 2px solid #cccccc;
		margin-left: .5em;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem !important;
    padding-left: .8rem !important;
}

.salesken.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
}
}
/*End of navbar css*/
/* or whatever other font size you want */

/* start of buttons  */
.join_btn{
	width: 100px;
  height: 30px;
  background:#ed4d67;
    color:#ffffff;
    font-weight: bold;
      border-radius: 0px !important;
}
.listen_btn{
	width: 100px;
  height: 30px;
  background:#ffffff;
  border: 1px solid #222222;
  color:#222222;
  font-weight: bold;
      border-radius: 0px !important;
}

.button_border{
	 border: solid 1px #dddddd;
}
/* end of buttons  */

/* start of sizing  */

.hw-30{
height:30px;
width:30px;	
}
.hw-66{
height:66px;
width:66px;	
}
.hw-60{
height:60px;
width:60px;	
}
.hw-24{
	height:24px;
width:24px;
}

/* end of sizing */

/* start of border */

.dotted-1{
	border :1px dashed #eeeeee !important;
}

/* end of border */


/* Start of font sizes */
.f-12 {
	font-size: 0.75rem !important;
}

.f-13 {
	font-size: 0.8125rem !important;
}

.f-14 {
	font-size: 0.875rem !important;
}

.f-15 {
	font-size: 0.9375rem !important;
}

.f-16 {
	font-size: 1rem !important;
}

.f-17 {
	font-size: 1.0625rem !important;
}

.f-18 {
	font-size: 1.125rem !important;
}

.f-19 {
	font-size: 1.1875rem !important;
}

.f-20 {
	font-size: 1.25rem !important;
}

.f-21 {
	font-size: 1.3125rem !important;
}

.f-22 {
	font-size: 1.375rem !important;
}

.f-23 {
	font-size: 1.4375rem !important;
}

.f-24 {
	font-size: 1.5rem !important;
}

.f-30 {
	font-size: 1.875rem  !important;
}
.f-42{
	font-size:2.625rem !important;
}

/* End of Font sizes */

/*
Modifying the scroll bar across the whole application
*/
/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	width: 5px;
	height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #999999 !important;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: #d1d1d1 !important;
	border: 1px solid #ebebeb !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

.theme_color{
	color:#ed4d67 !important;
}
.theme_bg{
		background: #ed4d67 !important;;
	
}
.brownish-grey{
color: #666666 !important;
}
.brown-grey{
color:	#999999 !important;
}
.tea{
	background:#57b280 !important;
}
.greyish-brown{
	color:	#444444 !important;
	
}
.black{
	color:#222222;
	}
.bblack{
	color:#4d4f5c !important;
}
.light_gray{
	color:#707070 !important;
}

.cursor-pointer{
  cursor: pointer;
}
.cream_white{
	background: #f9f9f9 !important;
}

@media only screen and (max-width: 767px) {
    .navbar-nav.flex-row > .dropdown .dropdown-menu {
        left: 50% !important;
        margin-left: -80px; /* (Half Menu Width in margin left) */
        top: 100%;
    }
}

/* start of tab styling */


.nav-mytabs a {
    position: relative;
    top: 8px;
    border-right: 1px solid #eeeeee;
    border-radius: 2px 2px 0 0;
    background: #f9f9f9;
    color: black;
    opacity: 0.9;
    transition: all 0.1s ease-in-out;
    font-weight: normal;
}

.nav-mytabs a.active, .nav-mytabs a:hover {
    opacity: 1;
    top: 0;
    font-weight: bold !important;
    background: white;
}


.nav-mytabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #dee2e6 #dee2e6 #fff;
}


.mytab-content {
	position: relative;
	z-index: 2;
	padding: 25px;
	border-radius: 0 4px 4px 4px;
	background: white;
}

/* end of tab styling */
.border-bottom-separation {
    border-bottom: 1px solid #cccccc;
}

.border-right-separation {
    border-right: 1px dotted #cccccc;
}


.col_bordering{
	    border-right: 2px dashed #cccccc;
	    border-bottom: 2px dashed #cccccc;
}

.col_bordering:nth-child(4n) {
  border-right: none !important;
  
}

.col_bordering:nth-last-child(-n+4) {
 border-bottom: none !important;
}

 @media ( min-width : 992px) {
	.search_height{
		height:30px !important;
}
	.search_width{
		width:250px;
	}
	.custom-taskselect{
	width: 185px;
 	 height: 30px;
}
}

/* start of pagination  */

.salesken.pagination>.page-item>.page-link:focus{
	box-shadow: none;	
}

.salesken.pagination>.page-item>.page-link{
	border: none;	
	border-radius: 10px;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
}

.salesken.pagination>.page-item>#page-next{
	color: #ed4d67;
}

.salesken.pagination>.page-item.active .page-link{
	background-color: #ed4d67;
	color:#fff !important;
}

.salesken.pagination>.page-item.active .page-link:hover{
	background-color: #ed4d67;
	color:#fff !important;
}

.salesken.pagination>.page-item>.page-link:hover{
	z-index: 1;
	color: #222222 !important;
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}

/* end of pagination */


.custom-taskborder{
	border: 1px solid #cccccc;
	border-radius: 0;
}
.custom-dateselect {
    height: 28px;
    width: 185px;
}



/* start of vertical tab */


#piplelinestage-tab>.nav-link {
	color: #999999;
	font-size: 13px;
	background: transparent;
	min-width: 133px;

}

#piplelinestage-tab>.active {
	background: #ffffff!important;
	color: #444444 !important;
	font-weight: bold;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-radius: 0;
	z-index:4;
	/* transition : all 0.3s ease-in-out; */
	 transform:scale(1) !important;
	 -webkit-transform:scale(1) !important; /* Safari and Chrome */
    -moz-transform:scale(1) !important;/* Firefox */
    -ms-transform:sscale(1) !important; /* IE 9 */
    -o-transform:scale(1) !important; /* Opera */
}

#piplelinestage-tab>.nav-link:hover {
	background: #ffffff !important;
	color: #444444 !important;
	font-weight: bold;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border-radius: 0;
	opacity: 2;
	
/* 	transition : all 0.1s ease-in-out;*/
	transform:scale(1.09);
 	-webkit-transform:scale(1.09); /* Safari and Chrome */
    -moz-transform:scale(1.09); /* Firefox */
    -ms-transform:scale(1.09); /* IE 9 */
    -o-transform:scale(1.09); /* Opera */
	
}

/* end of vertical tab */
